<h1>Editing User</h1>

<%= render 'editform', user: @user %>

<div class="col-xs-3 btn-block">
  <%= link_to 'Show', @user, class: "btn btn-primary" %> 
  <%= link_to 'Back', users_path , class: "btn btn-primary"%>
<div>
<div>
